$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

#board {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(23, 1fr);
  span {
    border: 1px solid black;
  }
  span.hacker {
    background-color: blue;
  }
}