#board {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(23, 1fr); }
  #board span {
    border: 1px solid black; }
  #board span.hacker {
    background-color: blue; }
