<div>
    <p>This is the partial for view 1.</p>

    <p>Testing</p>
    <hr/>
    <a href="#">Yay</a>
    <div id="gameBoard">
        <table>
            <thead>
            <tr>
                <td>{{map.width}}</td>
                <td ng-repeat="n in range(map.width) track by $index">
                    {{toLetter($index + 1);}}
                </td>
            </tr>
            </thead>
            <body>
            <tr ng-repeat="row in map.walls">
                <td>
                    {{$index + 1}}
                </td>
                <td ng-repeat="column in range(map.width) track by $index">
                    {{row}} {{$index}}
                    <p ng-show="$.inArray({{$index}}, {{row}}) >= 0">Wall</p>
                </td>
            </tr>
            </body>
        </table>
    </div>
</div>

